<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <select id="checkUserIdExist" resultType="java.lang.String" >
      <![CDATA[
        SELECT USER_NAME FROM USER_TABLE WHERE USER_ID=#{user_id}
      ]]>  
    </select>   
    
    <insert id="insertUser" parameterType="com.tjoeun.dto.UserDTO">
      <![CDATA[
        INSERT INTO USER_TABLE
               VALUES(USER_SEQ.NEXTVAL, #{user_name}, #{user_id}, #{user_pw})
      ]]> 
    </insert>
    
    <select id="getLoginUserInfo"
            parameterType="com.tjoeun.dto.UserDTO"  
            resultType="com.tjoeun.dto.UserDTO">
        <![CDATA[
            SELECT *
			  FROM USER_TABLE
			 WHERE USER_ID=#{user_id} AND USER_PW=#{user_pw}
        ]]> 
    </select>
    
</mapper>       




                 